.deps/
.dirstamp
.libs/
.stamps/
Makefile
Makefile.in
stamp-h?
*.[ao]
*.l[ao]
*~

/INSTALL
/aclocal.m4
/autom4te.cache/
/config*.lineno
/config.log
/config.status
/configure
/atkmm-*.tar.*
/libtool
/codegen/extradefs/generate_extra_defs

/atk/atkmm-*.pc
/atk/atkmmconfig.h

/doc/doc-install.pl
/doc/doc-postprocess.pl
/doc/doxygen.css
/doc/doxygen-extra.css
/doc/tagfile-to-devhelp2.xsl

/MSVC_NMake/atkmm/atkmm.rc
/MSVC_NMake/atkmm/atkmmconfig.h
/MSVC_NMake/pkg-ver.mak

untracked/build_scripts/
untracked/doc/
untracked/atk/
